* {
  margin: 0;
  padding: 0;
}

.label {
  font-size: 13px;
  color: #c1c1c1;
}

input.input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.fromcustomer {
  padding: 20px;
  width: 920px;
  max-width: 100%;
  box-sizing: border-box;
}

.elInput {
  margin-bottom: 20px;
  position: relative;
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
}

.elFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.elFlex .elInput {
  width: 48%;
}
select.select {
  padding: 5px;
  font-size: 16px;
  width: 100%;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  background: blue;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

textarea.input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

#students td,
#students th {
  border: 1px solid #fff;
  padding: 8px;
}

#students tr:nth-child(even) {
  background-color: #666161;
}

#students tr:hover {
  background-color: #ddd;
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}
.th200 {
  width: 200px;
  max-width: 30%;
}
